name: Unit tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  release:
    types: [ published ]

jobs:
  run-unittests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
    name: ${{ matrix.os }}-Python-${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Node.js
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install appium and adb
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        run: |
          npm install appium android-tools-bin &&
          cp ./node_modules/android-tools-bin/dist/linux/x86/adb ./node_modules/.bin/adb &&
          export PATH=./node_modules/.bin:$PATH &&
          appium --version &&
          adb --version

      - name: Install dependencies
        run: make setup

      - name: Run Unit tests
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        run: |
          export PATH="$PATH:./node_modules/.bin" && make test

      - name: Run Unit tests
        if: matrix.os != 'ubuntu-latest'
        run: |
          make test

      - name: Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        uses: AndreMiras/coveralls-python-action@develop

      - name: make packages
        if: github.event_name == 'release' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        run: make package

      - name: publish
        if: github.event_name == 'release' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: make publish
